<%= form_for @project, :multipart => true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.file_field :cover %>

  <%= f.submit 'Save' %>
<%- end -%>