<div class="page-header">
  <h1>Lista progetti</h1>
</div>

<%- if @projects.any? -%>
  <div class="container">
    <div class="row destacados">
      <%- @projects.each do |project| -%>
        <div class="col-md-4">
          <div>
            <%= image_tag(project.cover_url, :class => 'img-circle img-thumbnail', :style => 'width: 200px; height: 200px;') %>
            <h2><%= project.title %></h2>
            <p><%= project.description %></p>
            <%= link_to 'Vedi progetto', project_path(project), :class => 'btn btn-primary' %>
            <br />
            <%= link_to 'Edit', edit_project_path(project) %> &middot;
            <%= link_to 'Delete', project_path(project), :method => :delete %>
          </div>
        </div>
      <%- end -%>
    </div>
  </div>
<%- else -%>
  <p>No projects</p>
<%- end -%>

<%= link_to 'New project', new_project_path %>
