<div class="page-header">
  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>
</div>

<%- if @tasks.any? -%>
  <div class="row">
    <div class="col-sm-12">
      <%- @tasks.each do |task| -%>
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" class="js-toggle-task-status" data-task-id="<%= task.id %>" data-toggle-url="<%= toggle_status_project_task_path(@project, task) %>" <%= task.status == 1 ? raw(' checked') : '' %>>
          </span>
          <input type="text" class="form-control" aria-label="..." value="<%= task.title %>" disabled>
        </div><!-- /input-group -->
      <%# link_to 'Delete', project_task_path(@project, task), :method => :delete %>
      <%- end -%>
    </div>
  </ul>
<%- else -%>
  <p>No tasks for this project</p>
<%- end -%>

<%= link_to 'New task for this project', new_project_task_path(@project) %>

<%= link_to 'Back', projects_path %>

<script type="text/javascript">
  $(document).on('change', '.js-toggle-task-status', function(e) {
    $.ajax({
      url: $(this).data('toggle-url'),
      dataType: 'json',
      method: 'POST',
      success: function(xhr, status, response) {
        console.log(response)
      }
    })
  })
</script>